@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Item selected: @ViewBag.ItemName</p>    
</div>

<div>
    <input type="button" value="Delete Cookie" onclick="location.href='@Url.Action("Remove","Home",new {key = "key"})'"/> 
</div>